
{% block header %}

        <header id="header">
            <hgroup>
                <h1 class="site_title"><a href="index.html">Administrador</a></h1>
                <h2 class="section_title">Encuestas</h2>
            </hgroup>
        </header> <!-- end of header bar -->
{% endblock %}     
{% block secondbar %}
        <section id="secondary_bar">
            <div class="user">
                <p>Bienvenido administrador: John Doe</p>
                <!--<a class="logout_user" href="#" title="Logout">Logout</a>-->
            </div>
            <div class="breadcrumbs_container">
                <article class="breadcrumbs">
                    <a href="index.html">Panel de administrador</a>
                    <div class="breadcrumb_divider"></div> 
                    <a class="current">Encuestas</a>
                </article>
            </div>
        </section><!-- end of secondary bar -->
{% endblock %}     
{% block sidebar %}
        <aside id="sidebar" class="column">
            <!--<form class="quick_search">
                <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
            </form>-->
            <hr/>
            <h3>Eventos</h3>
            <ul class="toggle">
                <li class="icn_new_article"><a href="crearevento.html">Crear evento</a></li>
                <li class="icn_edit_article"><a href="actualizarevento.html">Actualizar evento</a></li>
                <li class="icn_categories"><a href="listareventos.html">Listar eventos</a></li>		
                <li class="icn_categories"><a href="reportedeevento.html">Ver reporte de evento</a></li>
            </ul>
            
            <h3>Preguntas</h3>
            <ul class="toggle">                
                <li class="icn_new_article"><a href="crearpregunta.html">Crear pregunta</a></li>
                <li class="icn_categories"><a href="listarpreguntas.html">Listar preguntas</a></li>
                <li class="icn_new_article"><a href="crearalternativa.html">Crear alternativa</a></li>                
                <li class="icn_categories"><a href="listaralternativas.html">Listar alternativas</a></li>
            </ul> 
            
            <h3>Encuestas</h3>
            <ul class="toggle">
                <li class="icn_new_article"><a href="crearencuesta.html">Crear encuesta</a></li>
            </ul>
            
            <h3>Usuarios</h3>
            <ul class="toggle">
                <li class="icn_add_user"><a href="crearusuario.html">Crear usuario</a></li>
                <li class="icn_view_users"><a href="actualizarusuario.html">Actualizar usuario</a></li>			
            </ul>

            <h3>Cuenta</h3>
            <ul class="toggle">
                <li class="icn_profile"><a href="#">Actualizar perfil</a></li>
                <li class="icn_jump_back"><a href="#">Cerrar sesión</a></li>
            </ul>

        </aside><!-- end of sidebar -->
{% endblock %}   

{% block contenido %}
            <br />   
	<article class="module width_full">
                <header><h3>Datos de encuesta</h3></header>
                    <div class="module_content" style="padding: 0 13% 0 13%;">  
                        <fieldset style="width:40%; float:left; margin-right: 2%;"> <!-- to make two field float next to one another, adjust values accordingly -->
                            <label>Título</label>
                            <input type="text" style="width:90%;">
                        </fieldset>   					
                       <fieldset style="width:10%; float:left; margin-right: 2%;"> <!-- to make two field float next to one another, adjust values accordingly -->
                            <label>Nro. de preguntas</label>
                            <input type="text" style="width:70%;">
                        </fieldset>
                        <fieldset style="width:20%; float:left; text-align: center; margin-right: 2%;"> <!-- to make two field float next to one another, adjust values accordingly -->
                            <br/>
                            <input type="submit" value="Guardar" class="alt_btn">
                            <br/>
                            <br/>
                        </fieldset>
                        <div class="clear"></div>                                                                                   
                    </div>
                <footer>
                   
                </footer>
    </article><!-- end of post new article -->    

    <article class="module width_3_quarter">
        <header>
            <h3 class="tabs_involved">Encuestas</h3>
        </header>
           
        <div class="tab_container" style="margin: 0 auto;">
            <div id="tab1" class="tab_content">
                <table class="tablesorter" cellspacing="0"> 
                    <thead> 
                        <tr>  
                            <th>Código</th>  
                            <th>Nombre</th>  
                            <th>Acciones</th>  
                        </tr> 
                    </thead> 
                    <tbody> 
                        <tr>  
                            <td>3543</td> 
                            <td>Lorem Ipsum </td>  
                            <td><input type="image" src="../static/images/icono-estadísticas.jpg" title="Estadísticas"/><input type="image" src="../static/images/icn_edit.png" title="Actualizar"/><input type="image" src="../static/images/icn_trash.png" title="Eliminar"></td> 
                        </tr> 
                        <tr>                             
                            <td>3544</td> 
                            <td>Bla bla bla</td>                                                                               
                            <td><input type="image" src="../static/images/icono-estadísticas.jpg" title="Estadísticas"/><input type="image" src="../static/images/icn_edit.png" title="Actualizar"/><input type="image" src="../static/images/icn_trash.png" title="Eliminar"></td> 
                        </tr>
                        <tr>                             
                            <td>3545</td> 
                            <td>Moran Roman</td>                                                                                  
                            <td><input type="image" src="../static/images/icono-estadísticas.jpg" title="Estadísticas"/><input type="image" src="../static/images/icn_edit.png" title="Actualizar"/><input type="image" src="../static/images/icn_trash.png" title="Eliminar"></td> 
                        </tr> 
                        <tr>                             
                            <td>3546</td> 
                            <td>¿Esta de acuerdo con la convocatoria de Vargas?</td>                                                                                    
                            <td><input type="image" src="../static/images/icono-estadísticas.jpg" title="Estadísticas"/><input type="image" src="../static/images/icn_edit.png" title="Actualizar"/><input type="image" src="../static/images/icn_trash.png" title="Eliminar"></td> 
                        </tr> 
                        <tr>                             
                            <td>3547</td> 
                            <td>¿Cree que se puede ganar a Uruguay?</td>                                                                                     
                            <td><input type="image" src="../static/images/icono-estadísticas.jpg" title="Estadísticas"/><input type="image" src="../static/images/icn_edit.png" title="Actualizar"/><input type="image" src="../static/images/icn_trash.png" title="Eliminar"></td> 
                        </tr> 
                    </tbody> 
                </table>
            </div><!-- end of #tab1 -->	
        </div><!-- end of .tab_container -->		
    </article><!-- end of content manager article -->
    
    <article class="module width_quarter">
        <header>
            <h3>Conectados (28)</h3>
        </header>
        <div class="message_list">
            <div class="module_content">
                <div class="message">
                    <p>Angela Muñoz</p>                    
                </div>
                <div class="message">
                    <p>Patricia Aldana</p>                    
                </div>
                <div class="message">
                    <p>Enrique Arias</p>                    
                </div>    
                <div class="message">
                    <p>Nombre Apellido</p>                    
                </div>
                <div class="message">
                    <p>Rolf Cortes</p>                    
                </div>
                <div class="message">
                    <p>Adrian Peralta</p>                    
                </div>    
                <div class="message">
                    <p>Nombre2 Apellido2</p>                    
                </div>
                <div class="message">
                    <p>Nombre2 Apellido2</p>                    
                </div>
            </div>
        </div>
        <footer>
           <form class="post_message">
                <input type="text" value="Message" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
                <input type="submit" class="btn_post_message" value="Buscar"/>
	   </form>
        </footer>


    </article><!-- end of messages article -->

{% endblock %}     