{% extends "base.html" %}
{% load static %}
<!--
{# <html>
<body>
	<h1>Articles</h1> #}
-->

{% block sidebar %}
	<ul class="dropdown-menu">
	  <li><a href="/all">Explorar</a></li>
	  <li><a href="#">Evento Activo I.</a></li>
	  <li><a href="#">Mis Entradas</a></li>
	  <li><a href="#">Separated link</a></li>
	  <li><a href="#">One more separated link</a></li>
	</ul>
{% endblock %}


{% block contenido %}

<div class="container sub">
	<!-- row-fluid-->
	<div class="row">
	<!-- FIX Bootstrap z-index on mobiles for .pull-right normalize -->
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 pull-right" style="z-index:1020;"> 
		
			<div id="carousel-example-generic" class="carousel slide">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
				<div class="item active">
					<img src="{% static "images/thumb.jpg" %}" alt="item" />
				  	
				  	<div class="carousel-caption">
						<p>Item 1</p>
				  </div>
				</div>
				
				<div class="item">
					<img src="{% static "images/thumb.jpg" %}" alt="item"/>
				
				  	<div class="carousel-caption">
						<p>Item 2</p>
				  </div>
				</div>
				
			  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<span class="icon-prev"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<span class="icon-next"></span>
				  </a>
			</div>    
				<hr>
		</div> 


		<!-- / .col-*-7-->
		  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<div class="well">
				<h2>Bienvenido</h2>
				<p class="">Proceda a Crearse su cuenta para Inscribirse/Crear Eventos</p>
			</div>
			<p class="lead">
				Lead paragraph. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
		  </div>
	</div>
</div>







<div class="container sub">
	<!-- Example row of columns -->
	<div class="row">
	{% if events.count > 0 %}
		{% for event in events %}
		
		        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="well">
		          		<h4 class="text-center">
		          			<i class="icon-fullscreen"></i> 
		          			{{event.name}}</h4>

						<p>{{ event.description | lower | truncatewords:"10" }}</p>

						<p><a class="btn btn-default" href="/get/{{event.id}}">View details »</a>
						</p>
				  </div>
		        </div>
			
		<!-- CONTAINER-->
		{% endfor %}
	{% else %}
		<p>None to show!</p>
	{% endif %}

	</div>
</div>

{% endblock %}
<!--
	</body>
</html>
-->